$dark: #222;
$white: #dfe2e7;
$white-transparent: #fefefe3a;
$yellow: rgb(229, 209, 166);
$yellow-dark: rgb(214, 192, 132);
$hyperborea: #34373c;
$hyperborea-bright: #7e8591;
$hyperborea-dark: #212529;
$hyperborea-darker: #17191c;
$hypeborea-transparent: #17191c30;

$def-transition: all 100ms ease-in-out;
