$dark: #222;
$white: #dfe2e7;
$white-background: #fafafa;
$white-transparent: #fefefe3a;
$yellow: rgb(229, 209, 166);
$blue-inp: rgb(91, 109, 214);
$yellow-dark: rgb(214, 192, 132);
$hyperborea: #34373c;
$hyperborea-bright: #7e8591;
$hyperborea-gray: #453223;
$hyperborea-dark: #212529;
$hyperborea-darker: #17191c;
$hyperborea-transparent: #17191c30;

$def-transition: all 100ms ease-in-out;
