@use "./variables/variables.scss";

.auth__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  & button {
    width: 100%;
  }

  & .form--no-account {
    display: block;
    color: #888;

    & a {
      color: #000;
      text-decoration: underline;
    }
  }

  & .warn {
    color: #c45;
  }

  & hr {
    border: 1px solid variables.$hyperborea-transparent;
  }

  & .special-auth--google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    background-color: transparent;
    color: variables.$hyperborea;
    border: 1px solid variables.$hyperborea-transparent;
    transition: variables.$def-transition;
    &:hover {
      background-color: variables.$white;
    }
  }
}
