@use "./variables/variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Manrope", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;

  background-color: variables.$white-background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-app, #app {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 15% 85%;
  min-height: 100vh;
  width: 100%;
}

.default-btn {
  padding: 0.6rem;
  border: none;
  border-radius: 0.3rem;
  background-color: variables.$hyperborea;
  color: variables.$white;
  transition: variables.$def-transition;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: variables.$hyperborea-dark;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 11px;
  }

  .header {
    & .ulist {
      display: none;
    }

    & .resp-nav-btn {
      display: block;
    }
  }
}

.transparent-btn {
  background-color: transparent;
  color: variables.$white;
  transition: variables.$def-transition;

  &:hover {
    background-color: variables.$white-transparent;
  }
}

.input-def {
  padding: 0.5rem;
  border: 1px solid variables.$hyperborea;
  border-radius: 0.3rem;
  width: 100%;
  transition: variables.$def-transition;

  &:focus {
    border: 1px solid variables.$hyperborea-darker;
    box-shadow: 1px 1px 5px variables.$hyperborea-transparent;
    outline: none;
  }
}

.label-def {
  display: block;
  color: variables.$hyperborea-darker;
}

.hidden {
  display: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
