@use "variables/variables.scss";

@keyframes loading-pop {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(160deg);
  }
}

.loading {
  display: inline-block;
  width: 80px;
  height: 80px;

  &::after {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid variables.$hyperborea;
    animation: loading-spin 1.2s linear infinite;
  }
}
